* {
    margin 0;
    padding 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

body {
    margin: 0;
    background: linear-gradient(180deg, rgba(0, 245, 255, 1) 0%, rgba(0, 5, 137, 1) 100%);
    background-repeat: no-repeat;
}

.cont1 {
    margin: auto;
    width: 100%;
    height: 150px;
    display: flex;
    background-color: #A9A9A9;
    align-items: center;
}

.headline {
    font-size: 50px;
    padding: 0 100px;
    text-decoration: none;
}

.headline:active {
    color: black
}

.headline:hover .titleimg {
    animation-name: titleani;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

.headline:visited {
    color: black
}

.ss {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.aforh {
    padding: 0;
    color: black;
    text-decoration: none;
    font-size: 30px;
    border-top: solid 3px #A9A9A9;
    border-bottom: solid 3px #A9A9A9;
    transition: color .2s, padding .7s;
}

.aforh:hover {
    padding: 10px 0;
    border-top: solid 3px black;
    border-bottom: solid 3px black;
}

.aforh:active {
    padding: 10px 0;
    border-top: solid 3px white;
    border-bottom: solid 3px white;
    color: white;
}

.cont2 {
    margin: auto;
    width: 100%;
}

.questn {
    display: flex;
    padding: 30px 70px;
    justify-content: space-around;
    align-items: center;
}

.newq {
    min-width: 280px;
    width: 280px;
    height: 280px;
    border-radius: 10px;
    background-color: white;
    margin: 30px;
    position: relative;
    display: flex;
}

.qn1 {
    background-image: url(q1);
    background-size: contain;
}

.qn2 {
    background-image: url(q2);
    background-size: contain;
}

.qn3 {
    background-image: url(q3);
    background-size: contain;
}

.qn4 {
    background-image: url(q4);
    background-size: contain;
}

.qn5 {
    background-image: url(q5);
    background-size: contain;
}

.qn6 {
    background-image: url(q6.jpg);
    background-size: contain;
}

.qn7 {
    left: 130px;
    background-image: url(q7);
    background-size: contain;
}

.textfor {
    margin: 0;
    position: relative;
    top: 185px;
    height: 70px;
    width: 100%;
    background-color: white;
    text-align: center;
    padding-top: 25px;
    transition: .5s;
    overflow: hidden;
}

.quename {
    font-size: 30px;
    padding-bottom: 20px;
    font-family: 'Kelly Slab', cursive;
}

.quedesk {
    height: 150px;
    opacity: 0;
    transition: .5s;
}

.textfor:hover .quedesk {
    opacity: 1;
}

.textfor:hover {
    top: 0;
    height: 274px;
    width: 280px;
    border-radius: 10px;
}

.nadpis {
    margin-top: 70px;
    margin-left: 200px;
    font-size: 40px;
}

@keyframes iconani {
    0% {}

    50% {
        transform: rotate(30deg);
    }

    100% {}
}

.fa-tags {
    animation-name: iconani;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    font-size: 40px;
    position: absolute;
    top: -40px;
    right: -40px;
}

.titleimg {
    position: relative;
    height: 50px;
    width: 50px;
    bottom: -8px;
}

.aforq {
    padding: 15px 50px;
    background-color: deepskyblue;
    border-radius: 10px;
    color: black;
    text-decoration: none;
    transition: padding .5s;
}

.aforq:hover {
    background-color: dodgerblue;
    padding: 20px 55px;
}

.aforq:active {
    color: white;
    background-color: deepskyblue;
}

@keyframes titleani {
    0% {}

    20% {
        bottom: 25px;
    }

    30% {
        transform: rotate(30deg);
        bottom: 30px;
    }

    40% {
        transform: rotate(-60deg);
        bottom: 30px;
    }

    50% {
        transform: rotate(60deg);
        bottom: 30px;
    }

    60% {
        transform: rotate(-30deg);
        bottom: 30px;
    }

    80% {
        bottom: 30px;
    }
}

.cont3 {
    padding-left: 30px;
    margin: auto;
    width: 100%;
    height: 80px;
    display: flex;
    background-color: #A9A9A9;
    align-items: center;
}

.cont4 {
    margin: 100px 0;
    padding: 40px;
    background-color: white;
    border-radius: 15px;
    height: auto;
    width: 65%;
    display: flex;
    flex-direction: column;
}

.cont5 {
    margin: 100px 0;
    padding: 40px;
    background-color: white;
    border-radius: 15px;
    height: auto;
    width: 40%;
    display: flex;
    flex-direction: column;
}

.nad,
.nadv1 {
    font-size: 30px;
    padding-bottom: 20px;
    font-family: 'Kelly Slab', cursive;
}

.regqq {
    position: relative;
    bottom: -2px;
    height: 17px;
    width: 17px;
    cursor: pointer;
}

label {
    font-size: 18px;
    user-select: none;
    cursor: pointer;
}

.main2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.block {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.block45 {
    width: 100%;
    margin: 60px;
}

.mailch {
    width: 80%;
    height: 30px;
    margin-bottom: 20px;
}

.aforreg {
    color: blue;
    text-decoration: none;
}

.aforreg:active {
    color: red;
}

.ran {
    transform: rotate(90deg);
    width: 170px;
    position: relative;
    top: -130px;
    right: -30px;
}

.colvochel {
    margin-bottom: 34px;
    position: relative;
    right: -50px;
    font-size: 15px;
}

.fff {
    display: flex;
    flex-direction: column;
}

.biggblock {
    display: flex;
    justify-content: space-around;
    margin-left: 40px;
}

.rere {
    text-align: center;
    width: 90px;
    height: 30px;
    position: relative;
    left: -13px;
}

.regqq2 {
    display: none;
}

.regqq3 {
    padding: 10px;
    border: 1px solid black;
    margin: 3px;
    border-radius: 8px;
}

.coco {
    display: flex;
    flex-direction: row;
    position: relative;
}

.form1 input[type=radio]:checked + label {
    background-color: deepskyblue;
}

.rtrt {
    margin-top: 30px;
    width: 200px;
    height: 30px;
    background-color: deepskyblue;
    border-radius: 10px;
}

.rtrt:hover {
    background-color: dodgerblue
}

.nadv1 {
    position: relative;
    right: -80px;
}

.blocko4 {
    margin: 100px;
    padding: 40px;
    width: 70%;
    background-color: white;
    border-radius: 15px;
    display: flex;
}

.cont6 {
    display: flex;
    justify-content: center;
}

.img22 {
    width: 80%;
    border-radius: 10px;
    transition: .5s;
    margin: 10px;
}

.img22:hover {
    box-shadow: 0 0 50px 10px deepskyblue;
}

.blocko9 {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.aera {
    resize: none;
}
